
.search-customer-container-div {
    text-align: center;
}

.customer-search-bar {
    padding: 10px;
    width: 300px;
    
}

.search-submit-button {
    padding: 12px;
    width: 100px;
    background-color: #19A463;
    border: 0px;
    color: white;
    font-weight: 600;
}

.search-submit-button:hover{
    transition: 00.5s;
    opacity: 0.7;
}

.search-submit-button:active{
    transition: 0s;
    background-color: red;
}


.customertile-div {
    border-radius: 50px;
    border: 1px solid grey;
    background-color: 	#F9F6EE;
    width: 70%;
    margin: auto;
}

.customertile-content {
    font-size: 20px;
    font-weight: bold;
    
}

.customer-search-result-table {
    width: 70%;
    margin: auto;
}

.customer-search-result-view-button {
    background-color: #19A463;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    width: 100px;
}

.admin-search-customer-view-link {
    text-decoration: none;
    color: white;
}