
.adminview-customer-data-display {
    text-align: center;
    margin-bottom: 50px;
}

.adminview-customer-data-display-title {
    font-size: 50px;
    color: #19A463;
}

.adminview-customer-data-display-title-hr {
    width: 500px;
    background-color: #19A463;
    height: 5px;
    border: 0px;
}

.adminview-customer-data-display-button {
    background-color: #19A463;
    width: 200px;
    border: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.adminview-customer-data-display-modify-button {
    background-color: #1961a4;
    width: 200px;
    border: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.adminview-customer-data-display-table {
    font-size: large;
    width: 60%;
    margin: auto;
    color: black;
}

.adminview-customer-data-display-table tr:hover {background-color: #ddd;}

.adminview-customer-data-display-table th {
    background-color: #19A463;
}

.adminview-customer-data-display-table th,td {
    padding: 10px;
    text-align: center;
}



.adminview-customer-data-display-table-th1 {
    width: 300px;
    color: white;
}

.adminview-customer-data-display-table-th2{
    width: 150px;
    color: white;
}